[submodule "pythondata_cpu_cva6/system_verilog/core/cache_subsystem/hpdcache"]
	path = pythondata_cpu_cva6/system_verilog/core/cache_subsystem/hpdcache
	url = https://github.com/openhwgroup/cv-hpdcache.git
[submodule "pythondata_cpu_cva6/system_verilog/core/cvfpu"]
	path = pythondata_cpu_cva6/system_verilog/core/cvfpu
	url = https://github.com/openhwgroup/cvfpu.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/axi_mem_if"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/axi_mem_if
	url = https://github.com/pulp-platform/axi_mem_if.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb
	url = https://github.com/pulp-platform/apb.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_node"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_node
	url = https://github.com/pulp-platform/apb_node.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_timer"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_timer
	url = https://github.com/pulp-platform/apb_timer.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_uart"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/apb_uart
	url = https://github.com/pulp-platform/apb_uart.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/ariane-ethernet"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/ariane-ethernet
	url = https://github.com/lowRISC/ariane-ethernet.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/axi2apb"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/axi2apb
	url = https://github.com/pulp-platform/axi2apb.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/axi_slice"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/axi_slice
	url = https://github.com/pulp-platform/axi_slice.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/gpio"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/fpga/src/gpio
	url = https://github.com/pulp-platform/gpio.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/register_interface"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/register_interface
	url = https://github.com/pulp-platform/register_interface.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/riscv-dbg"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/riscv-dbg
	url = https://github.com/pulp-platform/riscv-dbg.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/rv_plic"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/rv_plic
	url = https://github.com/pulp-platform/rv_plic.git
[submodule "pythondata_cpu_cva6/system_verilog/corev_apu/tb/common_verification"]
	path = pythondata_cpu_cva6/system_verilog/corev_apu/tb/common_verification
	url = https://github.com/pulp-platform/common_verification.git
[submodule "pythondata_cpu_cva6/system_verilog/docs/riscv-isa/riscv-isa-manual"]
	path = pythondata_cpu_cva6/system_verilog/docs/riscv-isa/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "pythondata_cpu_cva6/system_verilog/verif/core-v-verif"]
	path = pythondata_cpu_cva6/system_verilog/verif/core-v-verif
	url = https://github.com/openhwgroup/core-v-verif
[submodule "pythondata_cpu_cva6/system_verilog/verif/sim/dv"]
	path = pythondata_cpu_cva6/system_verilog/verif/sim/dv
	url = https://github.com/google/riscv-dv.git
